.header {
  position: sticky;
  top: 0;
  padding-bottom: 30px;
  background-color: #07101a;
  box-shadow: 0 10px 20px 14px #07101a;
  z-index: 50;
}
@media (max-width: 768px) {
  .header {
    padding: 0;
  }
}
.header__wrapper {
  max-width: 1220px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
@media (max-width: 1220px) {
  .header__wrapper {
    padding: 25px 30px 0 30px;
  }
}
@media (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
    padding: 25px 20px 0 20px;
    align-items: initial;
  }
}
.header__logo-wrapper {
  margin-left: 30px;
}
@media (max-width: 768px) {
  .header__logo-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 0 30px 30px;
  }
}
.header__logo span {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
}
@media (max-width: 1220px) {
  .header__logo span {
    font-size: 18px;
    line-height: 20px;
  }
}
.header__logo {
  display: block;
  position: relative;
  text-decoration: none;
  color: #fff;
}
.header__logo::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 48px;
  height: 48px;
  border: 3px solid white;
  transform: rotate(45deg);
}
@media (max-width: 1220px) {
  .header__logo::before {
    top: -6px;
    left: -14px;
  }
}
@-webkit-keyframes logo {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes logo {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
.header__logo:hover::before {
  -webkit-animation: logo 3s infinite both linear;
          animation: logo 3s infinite both linear;
}
@media (max-width: 768px) {
  .header__nav--close {
    display: none;
  }
}
.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  list-style: none;
  -webkit-animation: navigation 1s 1s both;
          animation: navigation 1s 1s both;
}
@media (max-width: 768px) {
  .header__list {
    -webkit-animation: none;
            animation: none;
    min-width: 100%;
    padding: 5px 0 0 0;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
  }
}
@-webkit-keyframes navigation {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}
@keyframes navigation {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}
.header__button {
  display: none;
}
@media (max-width: 768px) {
  .header__button {
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: url(../img/open-btn.svg) 0 50% no-repeat;
  }
}
.header__button--close {
  background: url(../img/close-nav.svg) 50% 50% no-repeat;
  background-size: 30px 30px;
}
.header__item {
  margin-left: 40px;
  padding: 7px 20px;
  width: 180px;
  text-align: center;
  border: 2px solid white;
  box-shadow: inset 0 0 10px 5px;
}
.header__item:hover {
  transform: scale(1.04);
  background-color: #fff;
  color: #283645;
}
.header__item:hover a {
  color: #283645;
}
@media (max-width: 1220px) {
  .header__item {
    box-sizing: border-box;
    padding: 7px 20px;
    width: 135px;
    margin-left: 25px;
  }
}
@media (max-width: 768px) {
  .header__item {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
.header__item a {
  display: block;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
@media (max-width: 1220px) {
  .header__item a {
    font-size: 16px;
    line-height: 18px;
  }
}
.header__item--contacts {
  display: none;
}
@media (max-width: 1220px) {
  .header__item--contacts {
    display: block;
  }
}
.about-me {
  height: calc(85vh - 103px);
}
@media (max-width: 1220px) {
  .about-me {
    height: calc(85vh - 95px);
  }
}
.about-me__breakpoint {
  position: absolute;
  top: 0;
}
.about-me__wrapper {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}
@media (max-width: 1220px) {
  .about-me__wrapper {
    padding: 0 30px;
    margin-top: 35%;
  }
}
@media (max-width: 768px) {
  .about-me__wrapper {
    padding: 0 20px;
    margin-top: 45%;
  }
}
.about-me__content {
  position: relative;
  -webkit-animation: text 1s;
          animation: text 1s;
}
@-webkit-keyframes text {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
@keyframes text {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.about-me__title {
  margin: 0;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}
.about-me__title span {
  display: block;
  margin-top: 20px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}
@media (max-width: 1220px) {
  .about-me__title span {
    font-size: 30px;
    line-height: 30px;
  }
}
.about-me__link {
  display: block;
  box-sizing: border-box;
  width: 180px;
  padding: 7px 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid white;
  box-shadow: inset 0 0 8px 3px;
}
.about-me__link:hover {
  transform: scale(1.2);
  color: #283645;
  background-color: #fff;
}
@media (max-width: 1220px) {
  .about-me__link {
    width: 184px;
    padding: 7px 20px;
    font-size: 16px;
    line-height: 18px;
  }
}
.about-me__button-wrapper {
  display: flex;
  justify-content: space-between;
  width: 390px;
  margin-top: 20px;
  position: relative;
  -webkit-animation: btn 1s 1s both;
          animation: btn 1s 1s both;
}
@media (max-width: 1220px) {
  .about-me__button-wrapper {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@-webkit-keyframes btn {
  0% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}
@keyframes btn {
  0% {
    left: -200%;
  }
  100% {
    left: 0;
  }
}
.about-me__button {
  display: block;
  width: 180px;
  padding: 7px 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid white;
  box-shadow: inset 0 0 8px 3px;
  background-color: transparent;
  cursor: pointer;
}
.about-me__button:hover {
  transform: scale(1.2);
  color: #283645;
  background-color: #fff;
}
@media (max-width: 1220px) {
  .about-me__button {
    display: none;
  }
}
.skills {
  position: relative;
  height: calc(90vh - 103px);
  -webkit-animation: skill 5s 3s both;
          animation: skill 5s 3s both;
}
@-webkit-keyframes skill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes skill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.skills__breakpoint {
  position: absolute;
  top: -200px;
}
.skills__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  margin: 30px auto 20px auto;
  text-align: center;
  z-index: 1;
  background-color: transparent;
}
.skills__wrapper {
  max-width: 1220px;
  margin: 0 auto;
}
@media (max-width: 1220px) {
  .skills__wrapper {
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .skills__wrapper {
    padding: 0 20px;
  }
}
.skills__list {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 380px;
  list-style: none;
}
@media (max-width: 768px) {
  .skills__list {
    height: 280px;
  }
}
.skills__item {
  display: flex;
  align-items: flex-end;
  margin: 0 20px;
  width: 80px;
}
.skills__item:nth-child(1n) {
  height: 90%;
  background-color: #ff852b;
}
.skills__item:nth-child(2n) {
  height: 90%;
  background-color: #009dda;
}
.skills__item:nth-child(3n) {
  height: 80%;
  background-color: #2a4f84;
}
.skills__item:nth-child(4n) {
  height: 60%;
  background-color: #e7f625;
}
.skills__item:nth-child(5n) {
  height: 60%;
  background-color: #bf3323;
}
.skills__item:nth-child(6n) {
  height: 80%;
  background-color: #ffffff;
}
.skills__item:nth-child(7n) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #b3b3b3;
}
.skills__item:hover {
  -webkit-animation: skills 2s;
          animation: skills 2s;
}
@media (max-width: 1220px) {
  .skills__item {
    margin: 0 10px;
    width: 70px;
  }
}
@media (max-width: 768px) {
  .skills__item {
    width: 100%;
    margin: 0 4px;
  }
}
@-webkit-keyframes skills {
  50% {
    height: 100%;
  }
}
@keyframes skills {
  50% {
    height: 100%;
  }
}
.skills__item--add {
  -webkit-animation: skill_add 2s 3s infinite;
          animation: skill_add 2s 3s infinite;
}
@-webkit-keyframes skill_add {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes skill_add {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.skills__icon-plus {
  width: 50px;
  height: 50px;
  stroke: #fff;
}
@media (max-width: 768px) {
  .skills__icon-plus {
    width: 30px;
    height: 30px;
  }
}
.skills__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}
@media (max-width: 1220px) {
  .skills__desc {
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .skills__desc {
    padding: 0 20px;
  }
}
.skills__text {
  margin: 0 50px 0 0;
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .skills__text {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
  }
}
.footer__list-link {
  position: fixed;
  top: 40%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation: icons 1s 2s both;
          animation: icons 1s 2s both;
}
@media (max-width: 1220px) {
  .footer__list-link {
    position: relative;
    display: flex;
    padding: 0 30px;
    justify-content: center;
    -webkit-animation: none;
            animation: none;
    -webkit-animation: icons_tablet 3s 2s both;
            animation: icons_tablet 3s 2s both;
  }
  @-webkit-keyframes icons_tablet {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes icons_tablet {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (max-width: 768px) {
  .footer__list-link {
    padding: 0 20px;
    justify-content: space-around;
  }
}
.footer__list-link--portfolio {
  position: relative;
  display: flex;
  margin: 0 auto 30px auto;
  justify-content: center;
  -webkit-animation: none;
          animation: none;
  -webkit-animation: icons_tablet 3s 2s both;
          animation: icons_tablet 3s 2s both;
}
@-webkit-keyframes icons_tablet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes icons_tablet {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes icons {
  0% {
    left: -50px;
  }
  100% {
    left: 0;
  }
}
@keyframes icons {
  0% {
    left: -50px;
  }
  100% {
    left: 0;
  }
}
.footer__item-link {
  margin-bottom: 20px;
  width: 36px;
}
.footer__item-link:hover {
  transform: scale(1.5) translate(10px);
}
@media (max-width: 1220px) {
  .footer__item-link {
    margin: 0 30px 40px 0;
  }
}
@media (max-width: 768px) {
  .footer__item-link {
    margin: 0 0 40px 0;
    width: 40px;
  }
}
.footer__item-link--portfolio {
  margin-right: 20px;
}
.footer__item-link--portfolio:hover {
  transform: scale(1.5);
}
.callback {
  display: none;
}
@media (max-width: 1220px) {
  .callback {
    display: block;
    padding: 0 30px;
    margin: 0 0 100px 0;
    -webkit-animation: form 3s 2s both;
            animation: form 3s 2s both;
  }
  @-webkit-keyframes form {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes form {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
@media (max-width: 768px) {
  .callback {
    padding: 0 20px;
  }
}
.callback--open {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1220px) {
  .callback--open {
    margin: 50px auto;
  }
}
@-webkit-keyframes bounce {
  0% {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  100% {
    transform: perspective(600px) translate(0px, 0%) rotateX(0);
  }
}
@keyframes bounce {
  0% {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  100% {
    transform: perspective(600px) translate(0px, 0%) rotateX(0);
  }
}
.callback__form {
  position: fixed;
  top: 30%;
  width: 1100px;
  height: 410px;
  background-color: #fff;
  color: #283645;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  -webkit-animation: bounce 1s;
          animation: bounce 1s;
}
@media (max-width: 1220px) {
  .callback__form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: transparent;
    color: #e1a92b;
  }
}
@media (max-width: 768px) {
  .callback__form {
    box-shadow: none;
  }
}
.callback__title {
  margin: 30px 0 50px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 26px;
}
@media (max-width: 768px) {
  .callback__title {
    margin: 10px 0 25px 0;
    font-size: 18px;
    line-height: 22px;
  }
}
.callback__list {
  margin: 0;
  padding: 0 30px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
}
@media (max-width: 768px) {
  .callback__list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}
.callback__item {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 20px;
}
.callback__item:hover input {
  transform: scale(1.06);
}
@media (max-width: 768px) {
  .callback__item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.callback__item--comments {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;
}
.callback__item--comments:hover .callback__comments {
  transform: scale(1.06);
}
.callback__item label {
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .callback__item label {
    margin: 0 0 15px 0;
  }
}
.callback__input {
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 20px;
  line-height: 20px;
  padding: 5px 10px;
  border: 1px solid #283645;
  outline: none;
}
@media (max-width: 768px) {
  .callback__input {
    width: 100%;
  }
}
.callback__comments {
  margin-top: 10px;
  display: flex;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 20px;
  padding: 7px 10px;
  resize: none;
}
.callback__button-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -70px;
}
@media (max-width: 1220px) {
  .callback__button-wrapper {
    position: relative;
    bottom: 0;
    padding: 0 30px;
  }
}
@media (max-width: 768px) {
  .callback__button-wrapper {
    flex-direction: column;
    padding: 0;
  }
}
.callback__button {
  display: block;
  width: 230px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid white;
  box-shadow: inset 0 0 8px 3px;
  background-color: transparent;
}
.callback__button:hover {
  transform: scale(1.1);
  color: #283645;
  background-color: #fff;
}
@media (max-width: 1220px) {
  .callback__button:hover {
    color: #fff;
    background-color: #283645;
  }
}
@media (max-width: 1220px) {
  .callback__button {
    color: #283645;
    background-color: #fff;
    border: 3px solid #283645;
  }
}
@media (max-width: 768px) {
  .callback__button {
    width: 100%;
  }
}
.callback__legend {
  margin-left: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 1220px) {
  .callback__legend {
    color: #283645;
  }
}
@media (max-width: 768px) {
  .callback__legend {
    margin: 20px 0 0 0;
    color: #fff;
  }
}
.callback__close {
  position: absolute;
  top: 5px;
  right: -60px;
  width: 40px;
  height: 40px;
}
@media (max-width: 1220px) {
  .callback__close {
    display: none;
  }
}
.callback__close-button {
  fill: #fff;
}
.callback__close:hover .callback__close-button {
  fill: red;
}
.callback__input--error {
  border: 3px solid red;
  -webkit-animation: shake 1s;
          animation: shake 1s;
}
@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.page {
  min-height: 100%;
}
.page-body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  background: radial-gradient(#2F73B6, #000000);
  background-repeat: no-repeat;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/roboto.woff2) format("woff2"), url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotomedium.woff2) format("woff2"), url(../fonts/robotomedium.woff) format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/robotobold.woff2) format("woff2"), url(../fonts/robotobold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}
.slider__item {
  position: relative;
  display: flex;
  justify-content: center;
}
.slider__item:hover .slider__content {
  display: flex;
}
.slider__item:hover .slider__img-container {
  opacity: 0.5;
}
.slider__img-container img {
  height: 500px;
}
@media (max-width: 768px) {
  .slider__img-container img {
    height: 400px;
    width: 250px;
  }
}
@media (max-width: 768px) {
  .slider__img-container {
    display: flex;
    align-items: center;
  }
}
.slider__content {
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: center;
  text-align: center;
  bottom: 0;
  width: 290px;
  max-height: 500px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
  color: #283645;
  z-index: 1;
}
.slider__title {
  margin: 20px 0;
  font-size: 22px;
  line-height: 24px;
}
.slider__desc {
  margin: 0 0 20px 0;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.slider__link {
  display: block;
  margin-bottom: 15px;
  width: 200px;
  padding: 5px 0;
  border: 2px solid #283645;
  box-shadow: inset 0 0 5px 5px;
  text-decoration: none;
  color: #283645;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
}
.slider__link:hover {
  background-color: #283645;
  color: #fff;
  transform: scale(1.1);
}
/* Слайдер ----------------------*/
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Мой слайд ---------------------------*/
.slider {
  position: relative;
  padding: 0 60px;
  max-width: 1220px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .slider {
    padding: 0 30px;
  }
}
.slider .slick-arrow {
  position: absolute;
  margin-top: -30px;
  top: 50%;
  width: 30px;
  height: 60px;
  z-index: 1;
  font-size: 0;
  cursor: pointer;
}
@media (max-width: 768px) {
  .slider .slick-arrow {
    width: 20px;
    height: 40px;
    margin-top: -20px;
  }
}
.slider .slick-arrow.slick-prev {
  left: 50px;
  background: url(../img/slider/sl-arrow_l.svg) 0 0 no-repeat;
  background-size: 100%;
  border: none;
}
.slider .slick-arrow.slick-next {
  right: 50px;
  background: url(../img/slider/sl-arrow_r.svg) 0 0 no-repeat;
  background-size: 100%;
  border: none;
}
.portfolio {
  position: relative;
  height: calc(100vh - 103px);
  -webkit-animation: portfolio 5s 2.5s both;
          animation: portfolio 5s 2.5s both;
}
@-webkit-keyframes portfolio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes portfolio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.portfolio__breakpoint {
  position: absolute;
  top: -200px;
}
.portfolio__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  margin: 30px auto;
  text-align: center;
  z-index: 1;
  background-color: transparent;
}

/*# sourceMappingURL=style.css.map */
