.callback {
  display: none;

  @media (max-width: @desktop-width) {
    display: block;
    padding: 0 30px;
    margin: 0 0 100px 0;
    animation: form 3s 2s both;

    @keyframes form {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  @media (max-width: @tablet-width) {
    padding: 0 20px;
  }
}

.callback--open {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: @desktop-width) {
    margin: 50px auto;
  }
}

@keyframes bounce {
  0% {
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  }
  100% {
    transform: perspective(600px) translate(0px, 0%) rotateX(0);
  }
}

.callback__form {
  position: fixed;
  top: 30%;
  width: 1100px;
  height: 410px;
  background-color: @basic-white;
  color: #283645;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  animation: bounce 1s;

  @media (max-width: @desktop-width) {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: transparent;
    color: #e1a92b;
  }

  @media (max-width: @tablet-width) {
    box-shadow: none;
  }
}

.callback__title {
  margin: 30px 0 50px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 26px;

  @media (max-width: @tablet-width) {
    margin: 10px 0 25px 0;
    font-size: 18px;
    line-height: 22px;
  }
}

.callback__list {
  margin: 0;
  padding: 0 30px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;

  @media (max-width: @tablet-width) {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.callback__item {
  display: flex;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 20px;

  &:hover input {
    transform: scale(1.06);
  }

  @media (max-width: @tablet-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.callback__item--comments {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 5;

  &:hover .callback__comments {
    transform: scale(1.06);
  }
}

.callback__item label {
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;

  @media (max-width: @tablet-width) {
    margin: 0 0 15px 0;
  }
}

.callback__input {
  box-sizing: border-box;
  flex-grow: 1;
  font-size: 20px;
  line-height: 20px;
  padding: 5px 10px;
  border: 1px solid #283645;
  outline: none;

  @media (max-width: @tablet-width) {
    width: 100%;
  }
}

.callback__comments {
  margin-top: 10px;
  display: flex;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
  font-size: 20px;
  line-height: 20px;
  padding: 7px 10px;
  resize: none;
}

.callback__button-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -70px;

  @media (max-width: @desktop-width) {
    position: relative;
    bottom: 0;
    padding: 0 30px;
  }

  @media (max-width: @tablet-width) {
    flex-direction: column;
    padding: 0;
  }
}

.callback__button {
  display: block;
  width: 230px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  border: 3px solid white;
  box-shadow: inset 0 0 8px 3px;
  background-color: transparent;

  &:hover {
    transform: scale(1.1);
    color: #283645;
    background-color: @basic-white;

    @media (max-width: @desktop-width) {
      color: @basic-white;
      background-color: #283645;
    }
  }

  @media (max-width: @desktop-width) {
    color: #283645;
    background-color: @basic-white;
    border: 3px solid #283645;
  }

  @media (max-width: @tablet-width) {
    width: 100%;
  }
}

.callback__legend {
  margin-left: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: @basic-white;

  @media (max-width: @desktop-width) {
    color: #283645;
  }

  @media (max-width: @tablet-width) {
    margin: 20px 0 0 0;
    color: @basic-white;
  }
}

.callback__close {
  position: absolute;
  top: 5px;
  right: -60px;
  width: 40px;
  height: 40px;

  @media (max-width: @desktop-width) {
    display: none;
  }
}

.callback__close-button {
  fill: @basic-white;
}

.callback__close:hover .callback__close-button {
  fill: red;
}

.callback__input--error {
  border: 3px solid red;
  animation: shake 1s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}